<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clementlam.weatherForecastApp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.clementlam.weatherForecastApp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.clementlam.weatherForecastApp.ShowWeather" />

        <receiver
            android:name="com.example.clementlam.weatherForecastApp.Receiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <service
            android:name="com.example.clementlam.weatherForecastApp.NewIntentService"
            android:exported="false">
        </service>

        <activity android:name="com.example.clementlam.weatherForecastApp.Settings" />

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>